<p>auth works!</p>
<div class="auth">
  <input [(ngModel)]="loginData.login" placeholder="login">
  <input [(ngModel)]="loginData.password" placeholder="password">
  <button (click)="authenticate()">Авторизоваться</button>
</div>
<p></p>
<input [(ngModel)]="otpData.otp_code" *ngIf="isTwoFactor" placeholder="otp code">
<button *ngIf="isTwoFactor" (click)="confirmOtp()">Подтвердить авторизацию</button>
<button *ngIf="isTwoFactor && isEnableToRefresh" (click)="refreshOtp()">Отправить код еще раз</button>
