<div *ngIf="!isPayCredit && !isCreateCredit" class="deposits">
  <div id="header">
      Кредиты
  </div>
  <div class="deposit" *ngFor="let dep of credits">
    <label>
      <span>No: {{dep.id}} | </span>
      <span>Дата оформления: {{dep.date}} | </span>
      <span>Следующая дата оплаты: {{dep.next_pay_date}} | </span>
      <span>Период: {{dep.term}} | </span>
      <span>Взятая сумма: {{dep.amount_given}} | </span>
      <span>Сумма долга: {{dep.debt}} | </span>
      <p>
        <span>Ежемесячная сумма оплаты: {{dep.per_month_pay_sum}} | </span>
        <span>Пеня: {{dep.penya}} | </span>
        <span>Статус: {{dep.status}} | </span>
      </p>
    </label>
  </div>
</div>

<div class="nav">
  <div class="button-container">
    <button (click)="openPay()" *ngIf="!isPayCredit">Оплатить кредит</button>
    <button (click)="openPay()" *ngIf="isPayCredit">Вернуться к списку кредитов</button>
    <button (click)="openCreate()" *ngIf="!isCreateCredit" id="left">Открыть кредит</button>
    <button (click)="openCreate()" *ngIf="isCreateCredit" id="left1">Вернуться к списку кредитов</button>
  </div>
</div>


<div class="payment" *ngIf="isPayCredit">
  <p>Номер кредита</p>
  <select [(ngModel)]="creditId">
    <option *ngFor="let credit of credits" [value]="credit.id">{{credit.id}}</option>
  </select>
  <label *ngIf="isCalcSumToPay">Сумма оплаты: {{payData.sum_to_pay}}</label>
  <div *ngIf="creditId != null">
    <button (click)="calcSumToPay(creditId)" *ngIf="creditId !== null" id="pay1">Рассчитать сумму оплаты</button>
    <button (click)="payCredit(creditId)" *ngIf="creditId !== null" id="pay">Оплатить кредит</button>
  </div>
</div>


<div class="create" *ngIf="isCreateCredit">
  <p>Номер счета</p>
  <select [(ngModel)]="creditData.account_id">
    <option *ngFor="let account of accounts" [value]="account.id">{{account.id}}</option>
  </select>
  <p>Период</p>
  <select [(ngModel)]="creditData.term">
    <option selected>MONTH_3</option>
    <option>MONTH_6</option>
    <option>MONTH_12</option>
    <option>PERPETUAL</option>
  </select>
  <p>Сумма</p>
  <input [(ngModel)]="creditData.amount_given" type="number">
  <p><button (click)="createCredit()" id="cr" *ngIf="creditData.account_id !== null">Открыть кредит</button></p>
</div>



