#openBut,
#createBut,
#openBut1,
.create button{
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 35px;
  color: aliceblue;
  background: #EB5F27;
}

#openBut:hover,
#createBut:hover,
#openBut1:hover,
{
  background: #EB2221;
  transition: .3s ease;
}

.deposits p{
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 30px;
  text-align: left !important;
  border-bottom: 1px solid black;
}

.deposit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding-top: 15px;
}

.deposit-info {
  display: flex;
  height: 20px;
}

.deposit span {
  margin-bottom: 15px;
  border-radius: 10px;
  height: 25px;
}

.button-container {
  display: flex;
  align-items: flex-end;
}

.deposit button {
  margin-top: 3px;
  border: none;
  border-radius: 7px;
  width: 125px;
  height: 25px;
  margin-left: 15px;
}

.deposit button:hover {
  background: #C2C2C2FF;
  border-color: #C2C2C2FF;
  color: black;
  transition: .3s ease;
}

.nav{
  margin-top: 20px;
}

.create{
  margin-top: 70px;
}

.create input,
 select,
 p,
 button{
  display: block;
  margin: 0 auto;
  text-align: center;
}

#openBut1{
  margin-bottom: 15px;
}

.create select {
  width: 330px;
  border: 2px solid #EB5F27;
  height: 30px;
  border-radius: 10px;
}

.create input {
  width: 325px;
  border: 2px solid #EB5F27;
  height: 25px;
  border-radius: 10px;
}

.create p{
  margin-bottom: 10px;
}

.create #createBut{
  margin-top: 20px;
  border-radius: 20px;
}
