<div *ngIf="!isCreateDeposit" class="deposits">
  <div id="header">
    <p>
      Депозиты
    </p>
  </div>
  <div class="deposit" *ngFor="let dep of deposits">
    <div class="deposit-info">
      <label>
        <span>No: {{dep.id}} | </span>
        <span> Дата открытия: {{dep.date}} | </span>
        <span> Срок: {{dep.term}} | </span>
        <span> Тип: {{dep.type}} | </span>
        <span> Статус: {{dep.status}} | </span>
        <span> Сумма: {{dep.amount}} </span>
        <span *ngIf="dep.status === 'CLOSED'"> | Сумма начисления: {{dep.compensationAmount}} </span>
      </label>
    </div>
    <div class="button-container">
      <button (click)="closeDeposit(dep.id)" *ngIf="dep.status!=='CLOSED'">Закрыть депозит</button>
    </div>
  </div>
</div>


<div class="nav">
  <button (click)="openCreateDeposit()" id="openBut" *ngIf="!isCreateDeposit">Открыть депозит</button>
  <button (click)="openCreateDeposit()" id="openBut1" *ngIf="isCreateDeposit">Вернуться к списку депозитов</button>
</div>

<div class="create" *ngIf="isCreateDeposit">
  <p>Номер счета</p>
  <p>
    <select [(ngModel)]="depositData.account_id">
      <option *ngFor="let account of accounts" [value]="account.id">{{account.id}}</option>
    </select>
  </p>
  <p>Период депозита</p>
  <p>
    <select [(ngModel)]="depositData.term">
      <option selected>MONTH_3</option>
      <option>MONTH_6</option>
      <option>MONTH_12</option>
    </select>
  </p>
  <p>Сумма депозита</p>
  <p><input [(ngModel)]="depositData.amount" type="number"></p>
  <p>Тип депозита</p>
  <p>
    <select [(ngModel)]="depositData.deposit_type">
      <option selected>REVOCABLE</option>
      <option>IRREVOCABLE</option>
    </select>
  </p>
  <button (click)="createDeposit(userId)" id="createBut">Открыть депозит</button>
</div>

